In [ ]:
#
# Uncomment one of these QUERY variables at a time and use "Test Run" to run it.
# You'll see the results below.  Then try your own queries as well!
#

# QUERY = "select max(name) from animals;"

# QUERY = "select * from animals limit 10;"

# QUERY = "select * from animals where species = 'orangutan' order by birthdate;"

# QUERY = "select name from animals where species = 'orangutan' order by birthdate desc;"

# QUERY = "select name, birthdate from animals order by name limit 10 offset 20;"

# QUERY = "select species, min(birthdate) from animals group by species;"

# QUERY = '''
# select name, count(*) as num from animals
# group by name
# order by num desc
# limit 5;
# '''

In [ ]:
# To see how the various functions in the DB-API work, take a look at this code,
# then the results that it prints when you press "Test Run".
#
# Then modify this code so that the student records are fetched in sorted order
# by student's name.
#

import sqlite3

# Fetch some student records from the database.
db = sqlite3.connect("students")
c = db.cursor()
query = "select name, id from students;"
c.execute(query)
rows = c.fetchall()

# First, what data structure did we get?
print "Row data:"
print rows

# And let's loop over it too:
print
print "Student names:"
for row in rows:
  print "  ", row[0]

db.close()

In [10]:
import sqlite3

db = sqlite3.connect("testdb")
c = db.cursor()
c.execute("insert into balloons values ('blue', 'water') ")
db.commit()
db.close()

OperationalError: no such table: balloons

In [20]:
import sqlite3
create database fishies (text integer, birthd date);

SyntaxError: invalid syntax (<ipython-input-20-be89f53f03c8>, line 2)

In [ ]:
import psql

creat table residents (id integer references students, building text references buildings (name), room text);
select a.id, b.id from residents as a, residents as b where a.building = b.building and a.room =b.room and a.id < b.id;

In [ ]:
# In this quiz, there's a table describing bugs in various files of code.
# Here's what the table looks like:
#
# create table programs (
#    name text,
#    filename text
# );
# create table bugs (
#    filename text,
#    description text,
#    id serial primary key
# );
#
# The query below is intended to count the number of bugs in each program. But
# it doesn't return a row for any program that has zero bugs.  Try running it as
# it is; then change it so that it includes rows for the programs with no bugs.

QUERY = '''
select programs.name, count(bugs.id) as num
   from programs left join bugs
        on programs.filename = bugs.filename
   group by programs.name
   order by num;
'''

In [ ]:
# Find the players whose weight is less than the average.
# 
# The function below performs two database queries in order to find the right players.
# Refactor this code so that it performs only one query.
#

def lightweights(cursor):
    """Returns a list of the players in the db whose weight is less than the average."""
    cursor.execute("select avg(weight) as av from players;")
    av = cursor.fetchall()[0][0]  # first column of first (and only) row
    cursor.execute("select name, weight from players where weight < " + str(av))
    return cursor.fetchall()

In [4]:
# Below if related to SQLie Python tutorial: http://zetcode.com/db/sqlitepythontutorial/

import sqlite3

In [7]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.6.1-cp27-none-win_amd64.whl (1.2MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.6.1

You are using pip version 8.1.1, however version 8.1.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [9]:
# # Using PostgreSQL in Python (with Psycopg2)
import psycopg2 as pg2

In [11]:
conn = pg2.connect(database='dvdtwo', user = 'postgres', password= '3013landinG')

In [41]:
cur =conn.cursor()

In [42]:
cur.execute('SELECT * FROM payment')

In [18]:
cur.fetchall()
cur.fetchone()

In [43]:
cur.fetchmany(2)

[(17503,
  341,
  2,
  1520,
  Decimal('7.99'),
  datetime.datetime(2007, 2, 15, 22, 25, 46, 996577)),
 (17504,
  341,
  1,
  1778,
  Decimal('1.99'),
  datetime.datetime(2007, 2, 16, 17, 23, 14, 996577))]

In [31]:
data = cur.fetchmany(2)

In [38]:
data[1][0]

17510

In [ ]:
conn.close()

In [ ]:

# coding: utf-8

# # Using PostgreSQL in Python (with Psycopg2)
# 
# ## Problem: 
# ### Your data is in a SQL database, but your machine learning tools are in Python.
# 
# ---------
# 
# ## Solution:
# ### Run SQL queries from Python
# 
# * Very useful for scaled data pipelines, pre-cleaning, data exploration
# * Allows for dynamic query generation
# 
# ---------

# ### Psycopg2
# A library that allows Python to connect to an existing PostgreSQL database to utilize SQL functionality.
# 
# 
# ### Documentation
# * http://initd.org/psycopg/docs/install.html

# # Objectives
# 
# - Learn how to connect to and run Postgres queries from Python
# - Understand cursors, executes, and commits
# - Learn how to generate dynamic queries

# In[ ]:

# basic usage
query = "SELECT * FROM some_table;"
cursor.execute(query)
results = cursor.fetchall()


# # Creating a connection with Postgres

# ### Import

# In[1]:

import psycopg2 as pg2


# ### Create connection with Postgres

# In[2]:

conn = pg2.connect(database='postgres', user='brad')


# ### Retrieve the Cursor
# 
# * A cursor is a control structure that enables traversal over the records in a database.  You can think of it as an iterator or pointer for Sql data retrieval.

# In[3]:


cur = conn.cursor()


# ## Create a database

# In[4]:

cur.execute('CREATE DATABASE lecture')


# ## What happened?!
# ### Normally we execute "temporary transactions", but database-wide operations cannot be run temporarily.
# 
# ### Try again:

# In[6]:

conn.close()

conn = pg2.connect(dbname = 'postgres', user='brad')
conn.set_session(autocommit = True)

cur = conn.cursor()
cur.execute('CREATE DATABASE lecture')


# ## Disconnect from the cursor and database (again)

# In[7]:

cur.close() # optional, closing connection always closes any associated cursors
conn.close()


# ## Let's use our new database

# In[53]:

conn = pg2.connect(database='lecture', user='brad')


# In[54]:

cur = conn.cursor()


# ### Create a new table

# In[55]:

query1 = '''
        CREATE TABLE logins (
            userid integer
            , tmstmp timestamp
            , type varchar(10)
        );
        '''



# In[56]:


cur.execute(query1)


# ### Insert csv into new table

# In[57]:

query2 = '''
        COPY logins 
        FROM '/Users/brad/Dropbox/Galvanize/sql-python/data/lecture-example/logins01.csv' 
        DELIMITER ',' 
        CSV;
        '''


# In[58]:


cur.execute(query2)


# ### Lets take a look at the data

# In[59]:

query3 = '''
        SELECT *
        FROM logins
        LIMIT 20;
        '''


# In[60]:

cur.execute(query3)


# ### One line at a time

# In[61]:

cur.fetchone()


# ### Many lines at a time

# In[62]:

cur.fetchmany(5)


# ### Or everything at once

# In[63]:

cur.fetchall()


# In[64]:


cur.execute('SELECT Count(*) FROM logins')


# In[65]:

cur.fetchall()


# # Dynamic Queries
# 
# We have 8 login csv files that we need to insert into the logins table.  Instead of doing a COPY FROM query 8 times, we should utilize Python to make this more efficient.  This is possible due to tokenized strings.

# In[47]:

# os is needed because we want to dynamically identify the files 
# we need to insert.
import os


# In[48]:

query4 = '''
        COPY logins 
        FROM %(file_path)s
        DELIMITER ',' 
        CSV;
        '''

folder_path = '/Users/brad/Dropbox/Galvanize/sql-python/data/lecture-example/'


# In[49]:

fnames = os.listdir(folder_path)

for fname in fnames:
    path = os.path.join(folder_path, fname)
    cur.execute(query4, {'file_path': path})



# # WARNING: BEWARE OF SQL INJECTION
# 
# ## NEVER use + or % to reformat strings to be used with .execute

# In[66]:

num = 579
terribly_unsafe = "SELECT * FROM logins WHERE userid = " + str(num)
print terribly_unsafe


date_cut = "2014-08-01"
horribly_risky = "SELECT * FROM logins WHERE tmstmp > %s" % date_cut
print horribly_risky
## Python is happy, but if num or date_cut included something malicious
## your data could be at risk


# ### Don't forget to commit your changes

# In[ ]:

cur.commit()


# ## And then close your connection

# In[67]:

cur.close()
conn.close()


# # Key Things to Know
# 
# * Connections must be established using an existing database, username, database IP/URL, and maybe passwords
# * If you have no existing databases, you can connect to Postgres using the dbname 'postgres' to initialize one
# * Data changes are not actually stored until you choose to commit. This can be done either through commit() or setting autocommit = True.  Until commited, transactions are only stored temporarily
#     - Autocommit = True is necessary to do database commands like CREATE DATABASE.  This is because Postgres does not have temporary transactions at the database level.
#     - Use .rollback() on the connection if your .execute() command results in an error. (Only works if change has not yet been committed) 
# * SQL connection databases utilize cursors for data traversal and retrieval.  This is kind of like an iterator in Python.
# * Cursor operations typically go like the following:
#     - execute a query
#     - fetch rows from query result if it is a SELECT query
#     - because it is iterative, previously fetched rows can only be fetched again by rerunning the query
#     - close cursor through .close()
# * Cursors and Connections must be closed using .close() or else Postgres will lock certain operations on the database/tables until the connection is severed. 
# 

# ## And don't leave yourself vulnerable to SQL injection!
# http://xkcd.com/327/

# In[ ]: